.button {
  font: inherit;
  border: 1px solid #053969;
  background: #1292ce;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #3513ad;
  border-color: #4339c5;
}

.button:focus {
  outline: none;
}
